
img{
    float: left;
    width: 110px;
    height: 40px;
    padding-bottom: 2%;
    }

h1 {
position: relative;
top: 18px;
left: 10px;
padding-bottom: 2%;
font-family: "Paytone One", Helvetica, sans-serif;
}

h3{
font-size: 80%;
position: relative;
padding-bottom: 2%;
font-family: "Paytone One", Helvetica, sans-serif;
}

p{
    color: blue;
    font-size: 150%;
}
  
.column {
float: left;
text-align: center;
width: 33.33%;
font-family: "Montserrat", sans-serif;
}
.container:after {
content: "";
display: table;
clear: both;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    text-align: center;
  
    width: 100%;
    height: 100%;
  
    border-radius: 4px;
  }
  
  div.figure {
    border-radius: 4px;
    display: table;
    flex : 33.33%;
  }

table.tg {
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}


.tg{
    border-spacing:1px;
}

.tg td{
    padding:1px 60px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}
.tg th{
    padding:1px 60px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}
.tg .tg-baqh{
    text-align:center;
    vertical-align:center;
    font-family: "Montserrat", sans-serif;
}
.tg .tg-6qw1{
    background-color: #b6b3b3;
    text-align: center;
    vertical-align: center;
    font-family: "Montserrat", sans-serif;
}

input {
    width: 10%;
}

.button-success,
.button-error {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
    background-color: rgb(28, 184, 65);
}

.button-error{
    border:none;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(202, 60, 60);
}

label {
    font-family: "Montserrat", sans-serif;
}

summary {
    font-family: "Montserrat", sans-serif;
}


  .bar .grid {
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 2;
  }
  
  #bar_title {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  #bar_title0 {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
  
  #bar_ylabel{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
  }
  #bar_xlabel{
    font-weight: bold;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
  }
  
  circle {
    stroke-width: 130;
    fill: none;
  }
  circle.dingus {
    stroke: rgb(94, 157, 194);
    stroke-dasharray: 408.2 408.2;
  }
  circle.widget {
    stroke:rgb(38, 141, 24);
    stroke-dasharray: 204 408.2;
  }
  
  #legend_rect {
    fill: transparent;
    stroke-width: 3;
    stroke: black;
  }
  #din_legend {
    fill:rgb(94, 157, 194);
  }
  #wid_legend {
    fill: rgb(38, 141, 24);
  }
  
  .legend_text {
    fill:black;
    font-size:50%
  }
  
  .xlabel {
    font-size: 50%;
  }
  .ylabel {
    font-size: 50%;
  }
  
  .dingusbar {
    fill: rgb(94, 157, 194);
  }
  .widgetbar {
    fill:rgb(38, 141, 24);
  }
  #din_legend0 {
    fill:rgb(94, 157, 194);
  }
  #wid_legend0 {
    fill: rgb(38, 141, 24);
  }


  #container1,
  #container2 {
      float: left;
  }

  

